.repo-wrapper {
  all: unset;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 350px;
  border-radius: 5px;
  margin: auto;
  background-color: #fdfffc;
  color: #373640;
  box-shadow: inset 0 0 7px #7e97a6;
}

.repo-wrapper:hover {
  cursor: pointer;
  background-color: #7e97a69f;
}

.repo-wrapper:focus {
  outline: none;
}

.repo-name {
  margin: 5px;
}

.repo-description {
  margin-left: 5px;
  height: 65px;
  width: 335px;
  overflow: hidden;
}

.repo-description-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.repo-created-date {
  margin-top: 10px;
  margin-left: 5px;
}

.repo-info-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15px;
}

.repo-element-col-1 {
  grid-column-start: 1;
  margin-left: 5px;
  place-self: end start;
}

.repo-element-col-2 {
  grid-column-start: 2;
  place-self: end start;
}
