.search-wrapper {
  all: unset;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 200px 40% 20px;
}

.search-input {
  all: unset;
  color: #373640;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  border: 2px solid #7e97a6;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 5px;
}

::placeholder {
  color: #373640;
  opacity: 0.7;
}

.search-button {
  cursor: pointer;
  border: 2px solid #7e97a6;
  border-radius: 5px;
  height: 46px;
  background-color: #fff;
}

.search-button:hover {
  background-color: #c2c2bf81;
}

.search-button:focus {
  outline: none;
}

.search-icon{
  fill: #373640;
}